{% extends 'base.html' %}

{% block content %}
  <h1>Home</h1>
  <p>Soy un Tester QA con  años de experiencia en la creación y documentación de casos de prueba, 
    adaptándome a metodologías tradicionales y ágiles (Scrum). 
    Mi enfoque en la calidad y atención al detalle me permite identificar y resolver 
    problemas de manera efectiva. 
    Actualmente, complemento mi carrera con estudios en desarrollo web, expandiendo mis habilidades técnicas y adaptándome a las demandas cambiantes del sector tecnológico.
    </p>
{% endblock %}